.row
  .col-xs-12
    .panel.panel-default
      .panel-body
        .row
          .col-xs-12.col-sm-4.col-md-3
            %h4.filter-by-item.text-center
              %u= t('.filter_by_item')
            .panel.panel-default
              .panel-body
                .list-group
                  = link_to t('.all'), data_trackers_path, class: "list-group-item #{version_item_type_active?}"
                  = link_to t('.clients'), data_trackers_path(item_type: 'Client'), class: "list-group-item #{version_item_type_active?('Client')}"
                  = link_to t('.users'), data_trackers_path(item_type: 'User'), class: "list-group-item #{version_item_type_active?('User')}"

          .col-xs-12.col-sm-8.col-md-9
            .row
              .col-xs-12.col-md-9.col-md-push-1
                %h4.all-modification.text-center
                  %u= t('.all_modification')
              .col-xs-12.col-md-3
                = render 'per_page_form'
              .col-xs-12
                = render 'shared/version'
