= simple_form_for(@user, wrapper: :horizontal_form, html: { class: 'form-horizontal' }) do |f|
  .ibox-content
    = f.error_notification
    .form-inputs
      .row
        .col-xs-12.col-md-6
          = f.input :first_name, label: t('.first_name'), class: 'form-control'
          = f.input :last_name, label: t('.last_name'), class: 'form-control'
          = f.input :email, required: true, label: t('.email'), class: 'form-control'
          = f.input :roles, collection: User::ROLES, label_method: lambda { |val| val.titleize }, label: t('.roles'), required: true, class: 'form-control'
          - unless @user.persisted?
            = f.input :password, required: true, label: t('.password'), class: 'form-control'
            = f.input :password_confirmation, required: true, label: t('.password_confirmation'), class: 'form-control'
  .ibox-footer
    = f.submit t('.save'), class: 'btn btn-primary form-btn'
    - if @user.persisted?
      = link_to t('.cancel'), user_path(@user), class: 'btn btn-outline btn-default form-btn'
    - else
      = link_to t('.cancel'), users_path, class: 'btn btn-outline btn-default form-btn'
